[Unit]
Description=TCP radio control daemon (IC-9700)
StopWhenUnneeded=true

[Service]
ExecStart=/usr/bin/rigctld -m 3081 -r /dev/ic9700 --port 4597

[Install]
WantedBy=default.target
