[Unit]
Description=Rotator control daemon
StopWhenUnneeded=true

[Service]
ExecStart=/usr/bin/rotctld -m 603 -r /dev/rotor

[Install]
WantedBy=default.target
