# 1a86:7523 QinHeng Electronics CH340 serial converter (K3NG keyer, az-delivery arduino clone)
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", ATTRS{product}=="USB Serial", SYMLINK+="ttyUSBK3NG"
#, ENV{SYSTEMD_USER_WANTS}+="cwangel.service"

# 1a86:7523 QinHeng Electronics CH340 serial converter (K3NG rotator, az-delivery arduino clone)
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", ATTRS{product}=="USB2.0-Ser!", SYMLINK+="ttyUSBrotor"

# 1a86:7523 QinHeng Electronics CH340 serial converter (ICOM CAT interface)
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", ATTRS{product}=="USB2.0-Serial", SYMLINK+="ttyUSBICOM", ENV{SYSTEMD_USER_WANTS}+="rigctld.service"

# 0c26:0036 Prolific Technology Inc. IC-705
# https://www.florian-wolters.de/posts/ic705-serial-device-symlinks/
KERNEL=="ttyACM[0-9]*", SUBSYSTEM=="tty", ATTRS{product}=="IC-705", ENV{PROD}="IC-705"
ENV{PROD}=="IC-705", SUBSYSTEMS=="usb", ATTRS{bInterfaceNumber}=="00", SYMLINK+="ic705", ENV{SYSTEMD_USER_WANTS}+="ic705.service"
ENV{PROD}=="IC-705", SUBSYSTEMS=="usb", ATTRS{bInterfaceNumber}=="02", SYMLINK+="ic705b"

# Bus 001 Device 095: ID 10c4:ea60 Silicon Labs CP210x UART Bridge (IC7300)
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{product}=="USB2.0-Serial", SYMLINK+="ttyUSBICOM", ENV{SYSTEMD_USER_WANTS}+="ic7300.service"

# 10c4:ea60 Silicon Labs CP210x UART Bridge (IC-7610)
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="IC-7610 * A", SYMLINK+="ic7610", ENV{SYSTEMD_USER_WANTS}+="ic7610.service"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="IC-7610 * B", SYMLINK+="ic7610b", ENV{SYSTEMD_USER_WANTS}+="ic7610.service"

# 0c26:001e Prolific Technology Inc. Icom RC-28 REMOTE ENCODER
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c26", ATTRS{idProduct}=="001e", TAG+="uaccess", MODE="0660", GROUP="plugdev"

# 0c26:0029 Prolific Technology Inc. IC-7610 SuperSpeed-FIFO Bridge (IQ port)
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0c26", ATTRS{idProduct}=="0029", TAG+="uaccess", MODE="0660", GROUP="plugdev"

# 0403:6001 Future Technology Devices International, Ltd FT232 USB-Serial (UART) IC
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="ttyUSBPTT", ENV{SYSTEMD_USER_WANTS}+="rigctld.service"

# 16d0:0753 Digispark bootloader
# http://digistump.com/wiki/digispark/tutorials/linuxtroubleshooting#ubuntu_troubleshooting
SUBSYSTEM=="usb", ATTRS{idVendor}=="16d0", ATTRS{idProduct}=="0753", SYMLINK+="ttyACM%n", MODE="0666", GROUP="plugdev"
KERNEL=="ttyACM*", ATTRS{idVendor}=="16d0", ATTRS{idProduct}=="0753", MODE:="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
# 16d0:087e MCS Digispark Serial
SUBSYSTEM=="tty", ATTRS{idVendor}=="16d0", ATTRS{idProduct}=="087e", SYMLINK+="ttyUSBdigikeyer", ENV{SYSTEMD_USER_WANTS}+="cwdaemon.service"

# 1d50:6108 OpenMoko, Inc. Myriad-RF LimeSDR
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="6108", MODE="0660", GROUP="plugdev", ENV{SYSTEMD_USER_WANTS}+="limeutil.service"

# 06f8:b11e Guillemot Corp. DJControl Compact
#SUBSYSTEMS=="usb", ATTRS{idVendor}=="06f8", ATTRS{idProduct}=="b11e", ENV{SYSTEMD_USER_WANTS}+="midiangel.service"

# NanoVNA
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", TAG+="uaccess", MODE="0660", GROUP="plugdev"

# 091e:0003 Garmin International GPS (various models)
SUBSYSTEM=="tty", ATTRS{idVendor}=="091e", ATTRS{idProduct}=="0003", SYMLINK+="ttyUSBGarmin"
