[Unit]
Description=Digispark keyer daemon

[Service]
ExecStart=/home/myon/shack/cwdaemon/cwdaemon /dev/ttyUSBdigikeyer

#[Install]
#WantedBy=default.target
